{% extends "./base.html.twig" %} 
{% block title %}ajout pièce d'identité{% endblock
title %} {% block add %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mb-4">carte d'identité</h4>
               <div class="progress mb-5">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%"></div>
</div>
      <!-- CNI -->
      <form action="pid" method="POST" enctype="multipart/form-data">
        

        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="typedocument">Type de document</label>
            <select
              class="custom-select border-left-info"
              id="typedocument"
              name="pidType"
            >
              <option selected>
                Veuillez sélectionner le type de document
              </option>
              <option value="Homme">Carte d'identité</option>
              <option value="Femme">Permis</option>
              <option value="Femme">Carte vitale</option>
              <option value="Femme">Passeport</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label for="pidPays">Le pays émetteur de la piéce d'identité</label>
            <input
              type="text"
              name="pidPays"
              id="pidPays"
              class="form-control border-left-info"
              placeholder="Veuillez saisir le pays"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="datedelivrance">Date de délivrance du document</label>
            <input
              type="date"
              name="datedelivrance"
              id="datedelivrance"
              class="form-control border-left-info"
              placeholder="Veuillez saisir la date de délivrance"
              required
            />
          </div>
          <div class="form-group col-sm-6">
            <label for="dateexpiration">Date d'éxpiration du document</label>
            <input
              type="date"
              name="dateexpiration"
              id="dateexpiration"
              class="form-control border-left-info"
              placeholder="Veuilllez saisir la date d'éxpiration"
              required
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-6">
            <input
              type="file"
              name="piddocument[]"
              id="document"
              class="form-control border-left-info"
              multiple=""
              placeholder="Veuilllez télécharger un ou plusieurs document"
            />
          </div>
          <div class="form-group col-sm-6">
            <button
              type="submit"
              name="pid"
              value="Envoyer"
              class="btn btn-primary btn-lg btn-block bg-warning border-0 border-left-info"
            >
              Envoyer
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock add %}
