{% extends "./base.html.twig" %}
{% block title %}Page d'accueil{% endblock title %}
{% block add %}

          <!-- Page Heading -->
    
          <h1 class="h3 mb-4 text-gray-800">coucou, je suis la page de redirection 'home'</h1>
<a href="/ajouter" class="btn btn-facebook" role="button" aria-pressed="true" >Ajouter une
  personne </a>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      {% endblock add %}
